<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%t] %logger{36} - %msg%n}{FATAL=red bright, ERROR=orange, WARN=green, INFO=blue, DEBUG=cyan, TRACE=gray}"
                    disableAnsi="false"/>
        </Console>

        <RollingFile name="File"
                     filePattern="logs/api_test_execution-log-%d{yyyy-MM-dd}%d{HH-mm-ss}%i.log"
                     immediateFlush="true"
        >
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
